body {
  font-family: Arial;
  background-color: #801717;
  margin: 0;
  padding: 0;
}

.container {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
  background: rgb(211, 203, 203);
  border-radius: 10px;
  text-align: center;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 30px;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: #222;
  color: #fff;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 12px;
  }
}